*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}
section{
    width: 100%;
    height: auto;    
}
.section{
    width: 1300px;
    height: auto;
    margin: auto;
    box-sizing: border-box;
}
/*------------------------------------------------------*/
.cajaIzquierda{
    width: 500px;
    height: 700px;
    
    float: left;
    box-sizing: border-box;
}
.imagenPerfil{
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 100%;
    margin-top: 50px;
    -webkit-box-shadow: 1px 10px 40px -6px rgba(125,125,125,1);
    -moz-box-shadow: 1px 10px 40px -6px rgba(125,125,125,1);
    box-shadow: 1px 10px 40px -6px rgba(125,125,125,1);
}
.Nombre{
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
}
.alias{
    display: block;
    font-size: 25px;
    text-align: center;
}

/*-----------------------------------------------------*/
.cajaDerecha{
    width: 800px;
    height: 700px;
    float: left;
    box-sizing: border-box;
}
.botones{
    width: 100%;
    height: auto;
}
.navBotones{
    list-style: none;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.navBotones li{
    margin-right: 0px;
    font-size: 20px; 
    padding: 5px 10px;
    cursor: pointer;
}
.navBotones li:hover{
    transition: 0.2s;
    border-bottom: 2px solid darkgreen;
}
.contenidoDestacado{
    display: none;
    width: 100%;
    height: 500px;
    background-color: lightseagreen;
    margin-top: 20px;
}
.contenidoProyectos{
    display: none;
    width: 100%;
    height: 500px;
    background-color: forestgreen;
    margin-top: 20px;
}
.contenidoBiografia{
    display: none;
    width: 100%;
    height: 500px;
    background-color: darkseagreen;
    margin-top: 20px;
}
.activar{
    display: block;
    height: 500px;
}
